{% extends 'dash/base.html' %}
{% load static %}
{% block title %}index{% endblock title %}
{% block content %}



      {% if data %}
      {% for d1 in data %}
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
              <img src="{{d1.file.url}}}" width="150px" height="150px">
              <p class="pr-text">
              <h4>Name:{{user.username}}</h4>
              <h4>Email:{{user.email}}</h4>
              <h4>Designation:{{d1.designation}}</h4>
      <h4>Subject Area:{{d1.subArea}}}</h4>
      <h4>Profile:{{d1.Profile}}</h4>
              </p>

     
      </div>
    </div>
  </div>
</div>
      {% endfor %}
      {% endif %} 

    

{% endblock content  %}